body {
    /* background-image: radial-gradient(circle farthest-corner at 50% 50%,#12054a,#0f0636); */
    font-family: 'Roboto', sans-serif;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.27 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.38 );
}

p {
    font-size: 1.2rem;
}

.header {
    /* background-color: aqua; */
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(217, 55, 223, 0.25);
    box-shadow: 0 8px 32px 0 rgba(227, 57, 233, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(213, 46, 235, 0.18);
}

.header-left {
    /* background-color: bisque; */
    height: 10vh;
    /* flex-grow: 1; */
    display: flex;
}

.header-left img {
    align-self: center;
    padding: 0 20px;
}

.header-center {
    /* background-color: blueviolet; */
    height: 10vh;
    flex-grow: 4;
    display: flex;
    flex-direction: row;
}

.header-center p {
    color: white;
    align-self: center;
    padding: 0 15px;
}

.header-right {
    /* background-color: yellow; */
    height: 10vh;
    flex-grow: 1;
    display: flex;
}

.header-right button {
    color: white;
    text-decoration: none;
    align-self: center;
    background-color: #8C46E2;
    font-size: 1.2rem;
    border: none;
    height: 30px;
    width: auto;
    /* height: 30px;
    width: 80px; */
    border-radius: 25px;
    padding: 0 10px;
}

.top-container {
    background-color: purple;
    border-radius: 10px;
    height: 80vh;

}

